.package-types-tabs {
  text-align: center;
  margin: 40px 0;
  box-sizing: border-box;
  font-size: 14px;
}

.pricing-flex {
  font-size: 14px;
  gap: 20px;
  justify-content: center;
  align-items: center;

  > .box {
    background: white;
    border-radius: 40px;
    text-align: center;
    box-shadow: rgba(222, 231, 239, 0.3) 0px 2px 8px 4px;
    width: 240px;

    &.most-popular {
      margin-top: -20px;
      margin-bottom: -20px;

      > .column-header {
        padding-top: 40px;
      }
    }

    > .row:nth-child(even) {
      background: $ulverbite-white;
    }
  }

  .column-header {
    padding: 20px;
    box-sizing: content-box;

    > .title {
      font-weight: 400;
      font-size: 16px;
      text-transform: uppercase;
      margin: 10px 0;
    }

    > .price {
      font-weight: 900;
      font-size: 24px;
      margin: 24px 0;
      color: #102830;

      > span {
        font-weight: 400;
        font-size: 16px;
        color: #024751;
      }
    }

    > .description {
      font-size: 16px;
    }
  }

  .column-footer {
    padding-top: 20px;
    padding-bottom: 30px;

    > div.selected {
      line-height: 40px;

      > button {
        margin-top: 10px;
      }
    }
  }

  .row {
    height: 30px;
    line-height: 30px;

    > .emoji {
      width: 20px;
    }
  }

  .buttonish {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// Tablet & mobile
@media only screen and (max-width: 780px) {
  .package-types-tabs {
    min-width: 0;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pricing-flex {
    flex-direction: column;
    
    > .box {      
      &.most-popular {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 544px) {
  body:not(.force-desktop) {
    .pricing-flex {
      > .box {
        border-radius: 20px;
        width: 100%;
      }

      .row {
        display: none;
      }

      .buttonish {
        width: auto;
      }

      .column-header {
        padding: 20px 0;
        height: auto;

        > .title {
          margin: 0;
        }

        > .price {
          font-size: 28px;
          margin: 10px 0;
        }

        > .description {
          font-size: 16px;
        }
      }

      .column-footer {
        padding: 0;
        padding-bottom: 20px;
      }
    }
    
    .pricing-footer {
      margin: 40px 0;
      margin-bottom: 0;

      > div {
        margin-top: 10px;
      }
    }
  }
}
